@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-image: url(https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
} */